.slick-slide{
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

.slick-slide img {
    max-width: 174px !important;
}

.customer-logo, .customer-logo-wrap{
    background-color: #eeeeee;
}

.limited-text{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:540px;
    max-height: 70px;
}
